@keyframes slideDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 1s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}

#slider,
#slider2,
#textOverlay {
  transition: opacity 1s ease-in-out;
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.7); */
  }
  50% {
    transform: scale(1.1);
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(255, 255, 255, 1); */
  }
  100% {
    transform: scale(1);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.7); */
  }
}

.animate-pulseGlow {
  animation: pulseGlow 2s infinite ease-in-out;
}

/* for menu changes border color */
.menu-border {
  border-color: white;
  transition: all 0.3s ease;
}
.menu-item.active .menu-border {
  border-color: var(--active-color);
}
