<!-- Navbar -->
<header
  class="relative z-20 bg-black bg-opacity-10 flex justify-between items-center px-4 md:px-10 py-5 shadow-sm"
>
  <div class="text-white text-xl md:text-2xl font-bold">Logo</div>

  <ul class="flex divide-x divide-dotted divide-white/30">
    <li class="px-4 md:px-8">
      <a
        href="#"
        class="text-yellow-400 font-bold transition-all pb-6 hover:text-yellow-500 hover:shadow-yellow-500 hover:border-b-2 hover:border-yellow-500"
      >
        Home
      </a>
    </li>
    <li class="px-4 md:px-8">
      <a
        href="#"
        class="text-white font-bold transition-all pb-6 hover:text-yellow-500 hover:shadow-yellow-500 hover:border-b-2 hover:border-yellow-500"
      >
        Menu
      </a>
    </li>
    <li class="px-4 md:px-8">
      <a
        href="about.html"
        class="text-white font-bold transition-all pb-6 hover:text-yellow-500 hover:shadow-yellow-500 hover:border-b-2 hover:border-yellow-500"
      >
        About Us
      </a>
    </li>
    <li class="px-4 md:px-8">
      <a
        href="#"
        class="text-white font-bold transition-all pb-6 hover:text-yellow-500 hover:shadow-yellow-500 hover:border-b-2 hover:border-yellow-500"
      >
        Contact Us
      </a>
    </li>
  </ul>

  <button
    class="font-bold border border-white px-5 py-1.5 rounded-xl text-white hover:bg-white hover:text-black transition-all"
  >
    Order Online
  </button>
</header>
