<!-- Navbar -->
<header
  class="relative z-20 bg-black bg-opacity-10 flex justify-between items-center px-4 md:px-10 py-5 shadow-sm"
>
  <div class="text-white text-xl md:text-2xl font-bold">Logo</div>

  <ul id="navss" class="flex divide-x divide-dotted divide-white/30">
    <li class="px-4 md:px-8">
      <a
        href="index.html"
        class="text-[#FFB30E] font-bold transition-all pb-6 hover:text-[#FFB30E] hover:shadow-[#FFB30E] hover:border-b-2 hover:border-[#FFB30E]"
      >
        Home
      </a>
    </li>
    <li class="px-4 md:px-8">
      <a
        href="menu.html"
        class="text-white font-bold transition-all pb-6 hover:text-[#FFB30E] hover:shadow-[#FFB30E] hover:border-b-2 hover:border-[#FFB30E]"
      >
        Menu
      </a>
    </li>
    <li class="px-4 md:px-8">
      <a
        href="about.html"
        class="text-white font-bold transition-all pb-6 hover:text-[#FFB30E] hover:shadow-[#FFB30E] hover:border-b-2 hover:border-[#FFB30E]"
      >
        About Us
      </a>
    </li>
    <li class="px-4 md:px-8">
      <a
        href="contact.html"
        class="text-white font-bold transition-all pb-6 hover:text-[#FFB30E] hover:shadow-[#FFB30E] hover:border-b-2 hover:border-[#FFB30E]"
      >
        Contact Us
      </a>
    </li>
  </ul>

  <button
    class="font-bold border border-white px-5 py-1.5 rounded-xl text-white hover:bg-white hover:text-black transition-all"
  >
    Order Online
  </button>
</header>
<script src="../js/script.js"></script>
